{% extends "home/index.html" %}
{% load static %}

{% block my_app_title %}
Person details
{% endblock %}

{% block my_app_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>{{ person.name }} {{ person.last_name }}</h1>
                    <span class="subheading">Detalles de la persona</span>
                </div>
            </div>
        </div>
        <a class="button_custom" href="{% url 'persona:persona-add' %}">Crear nueva persona</a>
    </div>
</header>
{% endblock %}


{% block my_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">Email: {{ person.email }}</h3>
    <h3 class="post-subtitle">Profesión: {{ person.birth_date }}</h3>
    <p style="text-align: center">
        <a href="{% url 'person:person-update' person.id %}">
            <i class="fa fa-pencil" style="color: #1c1c91;"></i> Editar
        </a>
        &ensp; | &ensp;
        <a href="{% url 'person:person-delete' person.id %}">
            <i class="fa fa-trash" style="color: #881a1a;"></i> Eliminar 
        </a>
    </p>
</div>
{% endblock %}


